doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Poppins:600&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a81368914c.js')
  style
     include resources/loginResources/login.css



  form(action='/imagenes/add2' enctype='multipart/form-data'  method="POST")
   .form-goup
   input(type='text' name='titulo' placeholder="Title" )
   .input-goup
   input(type='file' accept=".jpg,.png,.jpeg" name="image")
   button.btn.btn-primary  upload photho
   