doctype html
head
   meta(charset='UTF-8')
   meta(name='viewport' content='width=device-width, initial-scale=1.0')
   meta(http-equiv='X-UA-Compatible' content='ie=edge')
   link(href='https://fonts.googleapis.com/css?family=Poppins:600&display=swap' rel='stylesheet')
   script(src='https://kit.fontawesome.com/a81368914c.js')
   style
      include resources/loginResources/login.css
      
   form(action='/producto/add2' enctype='multipart/form-data'  method="POST")
      .form-goup
      input(type='text' name='titulo' placeholder="Title" )
      br
      input(type='text' name='tipo' placeholder="tipo")
      br
      input(type='text' name='marca' placeholder="marca")
      br
      input(type="text" name='size' placeholder="size")
      br
      input(type='text' name='precio' placeholder="precio" )
      br
      input(status_switch.custom-control-input type='checkbox')
      label(custom-control-label for='status_switch') available
      .input-goup
      input(type='file' accept=".jpg,.png,.jpeg" name="image")
      button.btn.btn-primary  upload photho
   
