doctype html
head
    meta(charset='UTF-8')
    title Checkout
    link(rel='stylesheet' href='assets/css/styleCheckout.css')
// partial:index.partial.html
.container
    .receipt
        p.comprobe ¡Orden lista!
        p.comprobe Los datos de su tarjeta no se almacenan en nustra base de datos.
        br
        br
        p.comprobe La direccion a la cual llegara el producto es la asociada con su tarjeta
        p.comprobe para cambiar la direccion envie una solicitud  a zfsBoutique@gmail.com
        br
        br
        p.comprobe Orden procesada, su pedido llegara en un aproximado de 30 dias.
        br
        br
a(href='/home') Ir a inicio
// partial
