doctype html
head
  meta(charset='UTF-8')
  title Nuevo Producto
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='stylesheet' href='assets/css/productoCss.css')
// partial:index.partial.html
.modal-wrap
  .modal-header
    span.is-active
    span
    span
  .modal-bodies
    .modal-body.modal-body-step-1.is-showing
      .title Ingresar Producto
      h5 #{success_msg}
      .description 
        .text-center         
          .button Siguiente
          br
          br
        -if(success_msg.length>0)
            a.discrete(href='/all') Ir a todos
        a.discrete(href='/home') Ir a Inicio
    .modal-body.modal-body-step-2
      .title Características del producto
      .description Información general.
      form(action='producto/agregar' enctype='multipart/form-data'  method="POST")
        input(type='text' placeholder='Nombre del producto' required )
        input(type='number' name='precio' placeholder='$0.00' required)
        br
        br
        input(type='text' name='tipo' placeholder='Tipo (Mujer, Hombre, Zapatos o +18)' required)
        input(type='text' name='size' placeholder='Talla (si aplica)') 
        input(type='text' name='marca' placeholder='Marca' required)
        input(type='text' name='titulo' placeholder='Titulo' required)
        input(type='file' accept=".jpg,.png,.jpeg" name="image" required)
        br
        br
        .text-center.fade-in
          input.button2(type="submit" value='Subir')
// partial
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='assets/js/productoScript.js')