

@media only screen and (min-width: 414px){
    
    .mid-container{
        display:none;
    }

    .mobile-container{
        display: block;
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mobile-container article{
        overflow: hidden;
        min-height: auto;
        max-height: auto;
        max-width: 500px;
        margin: 1rem 2rem;
        flex: 1 0 500px;
        border-radius: 10px;
        background-color: #ffffff;
    
    }

    .mobile-container article img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    


    
}

body {
    background-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
}

.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

p{
    color: black;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;

}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 30em;
    margin: 1em;
}

.options{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}


.options li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    margin: 1em;  
}

.contact * + * {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}


.contact-form {
    color: black;
    display: flex;
    flex-direction: column;
    
}

.contact-form input, .contact-form textarea{
    border-radius: 25px;
    font-size: 1em;
    width: 100%;
    
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
  }

  .input-contact{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;

  }

  .input-contact::after, .input-contact::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FF6347;
    transition: .3s;
  }
  
  .input-contact::after{
    right: 50%;
  }
  
  .input-contact::before{
    left: 50%;
  }
  
  .input-contact.focus h5{
    top: -5px;
    font-size: 15px;
    color: #FF6347;
  }
  
  
  .input-contact.focus::after, .input-contact.focus::before{
    width: 50%;
  }
  
  .input-contact > div{
    position: relative;
    height: 45px;
  }
  
  
  .input-contact > h5{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
  }



.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #FF6347,#FF6347,#D0CDE1);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins' sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn:hover{
    background-position: right;
  }





@media only screen and (min-width: 1024px){
    .mobile-container{
        display: none;
    }

    .mid-container{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 0.99fr;
        grid-auto-flow: dense;
    
    }
    
    .mid-container article{
        overflow: hidden;
        grid-column: span 1;
        grid-row: span 1;
    
    }
    
    .mid-container article img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .bottom-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-auto-flow: dense;
        column-gap: 5em;
    }
    
    .bottom-container h2{
        color: black;
        grid-row: span 1;
        grid-column: span 2;
    }
    
    

}



